.showcase:before {
    content: '';
    background: url('../res/prototype.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.doc-img {
    width: 70%;
    height: 70%;
    margin-top: 7px;
}

#outline {
    display: flex;
    flex-direction: column;
    background: linear-gradient(255deg, var(--primary-dark) 35%, var(--primary-dark) 100%);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.308));
    border-radius: 5px;
    margin: -35px 35px;
    padding: clamp(10px, 1.7vw, 25px);
}

#outline>h1 {
    font-size: clamp(1.3rem, 1.7vw, 2rem);
    margin-bottom: clamp(1px, 1.7vw, 5px);
}

.gradient-split {
    background: linear-gradient(35deg, var(--secondary-light), var(--secondary-mid));
    height: 4px;
    border: 0px;
}

.iter-data {
    margin: 35px;
    margin-top: 100px;
}

.iter-data>h1 {
    text-decoration: underline;
    margin-bottom: 10px;
}


.iter-data>div {
    margin-right: 30vw;
    font-size: clamp(0.8rem, 1.3vw, 1rem);
}

.iter-data>div>hr {
    background: linear-gradient(35deg, var(--secondary-light), var(--secondary-mid));
    border: 0px;
    margin: 5px 0px 23px 0px;
    height: 1px;
    background: var(--primary-light);
}

.iter-data>h1 {
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: clamp(1.8rem, 1.7vw, 2.2rem);
}


.iter-data>div>h2 {
    margin-top: 15px;
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    font-weight: 100;
    color: var(--accent-light-blue);
}

.iter-data>div>h3 {
    margin-top: 15px;
    font-size: clamp(1rem, 1.3vw, 1.2rem);
}

.inner-list {
    font-size: clamp(1rem, 1.3vw, 1.8rem);
    list-style-type: circle;
    margin-left: clamp(12px, 1.7vw, 40px);
}

.first-level-ul {
    margin-left: clamp(30px, 1.7vw, 60px);
}

code {
    display: block;
    font-family: 'DM Mono', monospace;
    padding: 5px;
    border-radius: 5px;
    background: var(--primary-dark);
}

a {
    cursor: pointer;
}

.code-inline {
    display: inline;
    font-family: 'DM Mono', monospace;
    padding: 2px 4px;
    border-radius: 5px;
    background: var(--primary-dark);
}

@media (max-width: 600px) {

    #outline {
        padding: 10px;
        margin: -35px 10px;
    }

    .inner-list {
        margin-left: 12px;
    }
    
    .first-level-ul {
        margin-left: 30px;
    }

    .iter-data>div {
        margin-right: 5vw;
    }

    img {
        width: 100%;
        height: 100%;
    }
}