@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

::-webkit-scrollbar {
    width: 0em;
}

::-webkit-scrollbar-track {
    background: var(--paper);
    margin-block: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-mid);
}

:root {
    --paper: #121212;
    --body: #e1e1e1;

    --secondary-light: #448AD9;
    --secondary-mid: #2372FF;
    --secondary-dark: #244AC2;

    --accent-light-blue: #b9d1db;
    --primary-light: #818181;
    --primary-mid: #3f3f3f;
    --primary-dark: #1f1f1f;

    --error: #e02141;
    --warning: #e4ab31;
    --success: #43eb83;

    --hue-dark: #121212a8;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: var(--body);
    background: var(--paper);
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--secondary-light);
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    display: grid;
    position: relative;
    grid-template-rows: 65px 1fr;
    background-color: var(--hue-dark);
    height: 100vh;
}

.showcase:before {
    content: '';
    background: url('../res/background.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1;
    background: #0000005d;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.showcase .header .title {
    font-size: 1.4rem;
    text-align: center;
}

.showcase .header .header-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.links {
    justify-content: flex-end;
    padding-right: 15px;
}

.links>li>div {
    background: var(--body);
    margin: auto;
    height: 2px;
    width: 0;
    padding-top: 2px;
    transition: width 0.2s ease;
}

.links>li>a:hover+div {
    width: 100%;
}

.showcase .header .header-menu>li {
    display: inline;
    margin: 0 10px;
}

.showcase .header .title:hover {
    color: inherit;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase .showcase-inner ul {
    list-style-type: none;
}

.showcase h1 {
    font-size: clamp(1rem, 1rem + 8vw, 4rem);
}

.showcase p {
    font-size: clamp(0.9rem, 1.5vw, 1.8rem);
}

.btn {
    margin-top: 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    background-color: var(--primary-dark);
    color: var(--body);
    padding: 10px 15px;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.btn:hover {
    color: var(--secondary-light);
}

@media (max-width: 1400px) {

    .showcase .header {
        grid-template-columns: 0px 1fr 0px;
        width: 100%;
        height: 65px;
    }

    .showcase .header-menu {
        visibility: collapse;
    }

    .links {
        padding-right: 0px;
    }
}